<div class="container">
  <div class="row">
    <div class="recipe_row mb-5 pl-4">
      <%= cl_image_tag @recipe.photo.key, width: 440, height: 300 %>
      <div class="recipe_info">
        <h1> <%= @recipe.name %> </h1>
        <p> <%= @recipe.description %> </p>
        <p>Recipe submitted by: <%= @recipe.user.username %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-5">
      <div id="ingredients">
        <h3>Ingredients</h3>
          <% @recipe.ingredients.each do |ingredient|  %>
          <ul>
            <li>
              <%= ingredient.name %>
            </li>
          </ul>
          <% end %>
      </div>
    </div>

    <div class="col-md-6 mb-5">
      <div id="instructions">
      <h3>Instructions</h3>
          <% @recipe.instructions.each do |instruction| %>
            <ul>
              <li>
                <%= instruction.step %>
              </li>
            </ul>
          <% end %>
      </div>
    </div>
  </div>
  <h2>Reviews:</h2>
  <% if @recipe.reviews.count == 0 %>
    <h5>This recipe has no reviews yet. Be the first one to review!</h5>
    <% else %>
  <% @reviews.each do |review| %>
  <span class="gold">
    <% if review.rating == 5 %>
      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
    <% elsif review.rating == 4 %>
      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
    <% elsif review.rating == 3 %>
      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
    <% elsif review.rating == 2 %>
      <i class="fas fa-star"></i><i class="fas fa-star"></i>
    <% elsif review.rating == 1 %>
      <i class="fas fa-star"></i>
    <% end %>
  </span>
  <br>
  <%= review.content %>
  <br>
  <p>Review by <%= review.user.username %> </p>
  <br>
  <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-12 mb-5">
      <% if current_user.id == @recipe.user_id %>
      <%= link_to "Edit", edit_recipe_path, class: "btn btn-primary" %>
      <%= link_to "Delete", recipe_path, method: :delete, class: "btn btn-primary mr-3 ml-3"  %>
      <% else %>
      <%= link_to "Review this recipe", new_recipe_review_path(@recipe), class: "btn btn-primary mr-3"   %>
      <% end %>
      <%= link_to "Back", root_path, class: "btn btn-primary"  %>
    </div>
  </div>
</div>
