<div class="container">
  <div class="row">
    <div class="recipe_row mb-5 pl-4">
      <%= cl_image_tag @recipe.photo.key, width: 440, height: 300 %>
      <div class="recipe_info">
        <h1> <%= @recipe.name %> </h1>
        <p> <%= @recipe.description %> </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-5">
      <div id="ingredients">
        <h3>Ingredients</h3>
          <% @recipe.ingredients.each do |ingredient|  %>
          <ul>
            <li>
              <%= ingredient.name %>
            </li>
          </ul>
          <% end %>
      </div>
    </div>

    <div class="col-md-6 mb-5">
      <div id="instructions">
      <h3>Instructions</h3>
          <% @recipe.instructions.each do |instruction| %>
            <ul>
              <li>
                <%= instruction.step %>
              </li>
            </ul>
          <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Edit", edit_recipe_path, class: "btn btn-primary" %>
      <%= link_to "Back", root_path, class: "btn btn-primary mr-3 ml-3"  %>
      <%= link_to "Delete", recipe_path, method: :delete, class: "btn btn-primary"  %>
    </div>
  </div>
</div>
